*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #111933;
}
/* header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    display: flex;
    align-items: center;
    z-index: 3;
    transition: background-color 0.5s ease, border-bottom 0.5s ease;
    border-bottom: 10px solid  radial-gradient(
        rgb(255, 255, 255) 70%, 
        rgba(255, 255, 255, 0) 80%);
    }
.header a img{
    width: 30%;
    height: 100%;
    background: transparent;
     margin-top: 100px;
    }
/* side bar */
.side_bar_container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    padding: 30px 14px;
    transition: all 0.5s ease;
    overflow: hidden;
    z-index: 1;
}
.side_bar_container:hover{
    width: 240px;
    background: linear-gradient(to right, #04050B 70%, #111933);
    transition: background 0.5s ease;
}
.side_bar_container ul{
    margin-top: 80px;
}
.side_bar_container ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 10px 20px;
    list-style: none;
    line-height: 50px;
    
}
.side_bar_container  ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 15px;
}
.side_bar_container ul li a:hover{
    background:#C4C4C4;
    color: black;
    padding-left: 15px;
    box-shadow: 0px 10px 112px -41px rgb(255, 25, 195),
            0 10px 26px -5px rgb(233, 242, 244),
            0px 0px 112px -41px rgb(122, 255, 0),
            0 10px 26px -5px rgb(168, 174, 173);
}
.side_bar_container ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    color: #8A8E94;
    font-size: 25px;
}
.side_bar_container ul li a i:active{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    color: #ffffff;
    font-size: 25px;
}
.side_bar_container ul li span{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile{
    padding-bottom: 20px;
}
.setting{
    padding-top: 200px;
}

.main-header{
    
}